---
layout: article
---

<button id="ranking-prev">Previous</button>
<button id="ranking-next">Next</button>

{% for item in page.slides %}
    <div class="ranking-slide" style="display:none">
        {% assign headline=item|first|first %}
        {% if item.first.last.first.first %}
        {% assign img_name=item.first.last.first.first %}
        {% else %}
        {% assign img_name=item.first.last %}
        {% endif %}

        {% if page.hascover %}
            {% if forloop.index>1 %}
            <h2>{{forloop.index|minus:1|append:'. '|append:headline}}</h2>
            {% endif %}
        {% else %}
        <h2>{{forloop.index|append:'. '|append:headline}}</h2>
        {% endif %}

        <figure>
        <img src={{page.imagedir| append:'/'| append: img_name}}>
        {% if item.first.last.first.last %}
        <figcaption>{{item.first.last.first.last}}</figcaption>
        {% endif %}
        </figure>
    </div>
{% endfor %}

<script>
    let currentSlide=1,prevButton,nextButton;
    function init() {
        prevButton=document.getElementById("ranking-prev");
        nextButton=document.getElementById("ranking-next");
        prevButton.onclick=prevSlide;
        nextButton.onclick=nextSlide;
        window.onkeydown = (e) => {
            if (e.key == "ArrowLeft") {
                if(!prevButton.disabled) {
                    prevSlide();
                }
            }
            else if (e.key == "ArrowRight") {
                if(!nextButton.disabled) {
                    nextSlide();
                }
            }
            else {
                return;
            }
            e.preventDefault();
        };
        showSlide(1);
    }

    function prevSlide() {
        --currentSlide;
        showSlide(currentSlide);
    }

    function nextSlide() {
        ++currentSlide;
        showSlide(currentSlide);
    }

    function showSlide(index) {
        let slides = document.getElementsByClassName("ranking-slide");
        let i = 1;
        for (let slide of slides) {
            slide.style.display = (i == index)
                ? ""
                : "none";
            ++ i;
        }
        prevButton.disabled=index==1;
        nextButton.disabled=index==i-1;
    }
    init();
</script>