---
layout: default
---

{% for item in page.ranking %}
    <button class="ranking-button">Show slide
        {{forloop.index}}</button>
{% endfor %}
{% for item in page.ranking %}
    <div class="ranking-slide" style="display:none">
        {% assign headline=item|first|first %}
        {% if item.first.last.first.first %}
        {% assign img_name=item.first.last.first.first %}
        {% else %}
        {% assign img_name=item.first.last %}
        {% endif %}

        <h2>{{forloop.index|append:'. '|append:headline}}</h2>
        <figure>
        <img src={{page.imagedir| append:'/'| append: img_name}}>
        {% if item.first.last.first.last %}
        <figcaption>{{item.first.last.first.last}}</figcaption>
        {% endif %}
        </figure>
    </div>
{% endfor %}

<script>
    function init() {
        let buttons = document.getElementsByClassName("ranking-button");
        let i = 1;
        for (let button of buttons) {
            let j = i;
            button.onclick = () => showSlide(j);
            ++ i;
        }
    }

    function showSlide(index) {
        let slides = document.getElementsByClassName("ranking-slide");
        let i = 1;
        for (let slide of slides) {
            slide.style.display = (i == index)
                ? ""
                : "none";
            ++ i;
        }
    }
    init();
</script>